# Ignore large binary assets
public/movie/
releases/
*.zip
xserver_upload/movie/*.mp4
Stock Image/imagers.psd

# Node modules
**/node_modules/

# shinsekai-blog (separate Netlify project)
shinsekai-blog/

# Local Netlify folder
.netlify
shinsekai-hero-video/node_modules/
